<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getScanTasks</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:getScanTasksResponse</string>
	</dict>
	<key>taskExecution</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:taskExecutionResponse</string>
	</dict>
	<key>getGroupMembersByUserCode</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:getGroupMembersByUserCodeResponse</string>
	</dict>
	<key>checkUserInfo</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/Login</string>
		<key>node</key>
		<string>ns1:checkUserInfoResponse</string>
	</dict>
	<key>getTasksByUserCode</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:getTasksByUserCodeResponse</string>
	</dict>
	<key>getEquipmentsByUserCode</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:getEquipmentsByUserCodeResponse</string>
	</dict>
	<key>personalViewExecute</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/PersonalExecute</string>
		<key>node</key>
		<string>ns1:personalViewExecuteResponse</string>
	</dict>
	<key>scanOperatorOrEquipment</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:scanOperatorOrEquipmentResponse</string>
	</dict>
	<key>replaceOperator</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:replaceOperatorResponse</string>
	</dict>
	<key>checkCode</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:checkCodeResponse</string>
	</dict>
	<key>getCurrentOperators</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskOperationExecution</string>
		<key>node</key>
		<string>ns1:getCurrentOperatorsResponse</string>
	</dict>
	<key>handleChildTaskOperation</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskOperationExecution</string>
		<key>node</key>
		<string>ns1:handleChildTaskOperationResponse</string>
	</dict>
	<key>getFilterTasks2</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskScanExecution</string>
		<key>node</key>
		<string>ns1:getFilterTasks2Response</string>
	</dict>
	<key>queryFilterTasks</key>
	<dict>
		<key>URI</key>
		<string>/ETMX/services/TaskQuery</string>
		<key>node</key>
		<string>ns1:queryFilterTasksResponse</string>
	</dict>
</dict>
</plist>
